RewriteEngine On
AddDefaultCharset utf-8
RewriteBase /

###	Simply Framework environment
#	----------------------------------------------------------------
#SetEnv SIMPLY_ENV production
#SetEnv SIMPLY_ENV staging
#SetEnv SIMPLY_ENV testing
#SetEnv SIMPLY_ENV development


###	redirect from www to non-www
#	----------------------------------------------------------------
#Options +FollowSymLinks
#RewriteEngine On
#RewriteCond %{HTTP_HOST} ^www.site.com$
#RewriteRule (.*) http://site.com/$1 [R=301,L]
#RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
#RewriteRule ^index\.html$ http://site.com/ [R=301,L]
#RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
#RewriteRule ^index\.php$ http://site.com/ [R=301,L]


### Protect hidden files from being viewed
#	----------------------------------------------------------------
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>


### Disallow indexes directories
#	----------------------------------------------------------------
Options -Indexes


###	Protect application and system files from being viewed
#	----------------------------------------------------------------
RewriteRule ^(?:framework|apps)\b.* index.php/$0 [L]


###	Allow any files or directories that exist to be displayed directly
#	----------------------------------------------------------------
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


###	Rewrite all other URLs to index.php/URL
#	----------------------------------------------------------------
RewriteRule .* index.php/$0 [PT]
